<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIcollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74FD472D1C55B7AF00E5A8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74FD47461C55B7B000E5A8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74FD47511C55B7B000E5A8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
