<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>手势.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74D29E9E1C5704BD004BB799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D29EB71C5704BD004BB799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D29EC21C5704BD004BB799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
